.DS_Store
.dart_tool/

.packages
.pub/

build/
release/
*.apk
*.aab

.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
Flutter.podspec
flutter_export_environment.sh
Podfile.lock

# Android Studio settings
.idea

# Firebase key
google-services.json
GoogleService-Info.plist

# Fastlane
report.xml
metadata/
